:root {
    font-size: 62.5%;
}

@keyframes line-animate {
    0% {
        height: 0
    }
    100% {
        height: 67%
    }
}

.elebgWhite {
    position: absolute;
    height: 50px;
    right: 0;
    top: 0;
    z-index: -1
}

.elebgWhite.overlapSearch {
    background: #fff;
    border-bottom: 1px solid #eae6e6
}

header {
    /* background-color: black !important; */
    width: 100%;
    position: fixed;
    /* position: absolute !important; */
    z-index: 991;
    /* padding: 45px 0; */
    /* padding: 25px 0 !important; */
    /* padding-bottom: 20px; */
    top: 0;
    left: 0
}

header.active {
    padding: 15px 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .6);
    z-index: 990
}

header.active .logo img {
    width: 80%
}

header.header-blue .logo a:last-child {
    display: none
}

header.fixed {
    background-color: #fff
}

header.fixed .logo img.white-logo {
    left: inherit
}

header.fixed .logo a:first-child {
    display: none
}

header.fixed .logo a img {
    left: inherit !important
}

header.fixed .menu-toggle span {
    background: #000
}

header.fixed .menu-toggle span:after,
header.fixed .menu-toggle span:before {
    background: #000
}

header.fixed .menu-toggle.active span {
    background: 0 0
}

header.fixed .menu-toggle.active span:after,
header.fixed .menu-toggle.active span:before {
    background: #fff
}

header .logo a {
    max-width: 180px;
    width: 100%;
    min-width: 180px
}

header .logo img {
    /* width: 100%; */
    opacity: 0;
    position: relative;
    left: inherit
}

header .logo img.black-logo {
    left: -183px
}

header .logo img.active {
    opacity: 1
}

.main-content {
    margin-top: 7% !important;

    width: 92%;
    margin: 0 auto
}

.team-container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto
}

.container-full {
    width: 100%
}

.flex-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.elebgWhite {
    position: absolute;
    height: 50px;
    right: 0;
    top: 0;
    z-index: -1
}

.elebgWhite.overlapSearch {
    background: #fff;
    border-bottom: 1px solid #eae6e6
}

.footer,
.menu-drop ul.main-menu {
    width: 92%
}

.footer ul li a {
    color: white !important;    
    margin: 0 10px !important;
}
.footer .soc-wrp .soc-icons li a {
    font-size:2rem !important
}

.searh_menu_icon {
    width: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 992
}

.searh_menu_icon .search {
    position: relative;
    z-index: 2
}

.searh_menu_icon .search .white_bg {
    display: block
}

.searh_menu_icon .search .black_bg {
    display: none
}

.searh_menu_icon .search a {
    display: block
}

.searh_menu_icon .search a .white_icon {
    display: none
}

.searh_menu_icon .search a .black_icon {
    display: block
}

.searh_menu_icon.menu_open .search .white_icon {
    display: block
}

.searh_menu_icon.menu_open .search .black_icon {
    display: none
}


#searchWrap {
    position: fixed;
    left: 0;
    width: 100%;
    background: #fff;
    height: 100vh;
    top: 0;
    z-index: 99;
    display: none
}

#searchWrap .name-header {
    margin: 5% 0
}

#searchWrap .team-container:first-child {
    margin-top: 25%;
    position: relative
}

#searchWrap .closeBtn {
    position: absolute;
    z-index: 999;
    right: 10px;
    top: -40px;
}

.autocomplete-active {
    color: #fff !important
}


#searchpage .search_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3a433;
    height: 50px;
    line-height: 50px;
    padding-bottom: 0;
    position: relative;
}

#searchpage .search_box #search-box {
    display: flex;
    width: 100%
}

#searchpage .search_box .input_search {
    border: 0;
    background: #fff;
    flex: 1 0 auto;
    font-weight: 300;
    color: #003c8c;
    font-size: 36px;
    max-width: calc(100% - 50px)
}

#searchpage .search_box .searchBtn {
    background: 0 0;
    cursor: pointer;
    width: 50px;
    flex: 0 0 auto;
    color: #bebebe;
    font-size: 36px;
    border: 0
}

#searchpage .results {
    width: 100%;
    display: flex;
    margin: 30px 0 0
}

#searchpage .results ul {
    width: 100%;
    display: flex;
    flex-direction: column
}

#searchpage .results ul li {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px
}

#searchpage .results ul li .result_type {
    width: 100%;
    display: flex;
    clear: both;
    margin: 0 0 10px;
    font-size: 14px
}

#searchpage .results ul li .result_type .type {
    padding: 5px 15px 5px 30px;
    position: relative;
    margin: 0 10px 0 0;
    font-style: italic;
    color: #000;
    font-weight: 600
}

#searchpage .results ul li .result_type .type:after {
    content: "-";
    position: absolute;
    right: 0;
    top: 3px;
    bottom: 0
}

#searchpage .results ul li .result_type .type.type_people {
    background: url(../images/peaple_icon.png) no-repeat left center
}

#searchpage .results ul li .result_type .type.type_article {
    background: url(../images/article_icon.svg) no-repeat left center;
    background-size: 20px
}

#searchpage .results ul li .result_type .type.type_news {
    background: url(../images/newspaper_icon.svg) no-repeat left center;
    background-size: 24px
}

#searchpage .results ul li .result_type .searchdate {
    padding: 5px 0
}

#searchpage .results ul li .result_content {
    width: 100%;
    display: flex
}

#searchpage .results ul li .result_content .pic img {
    margin-right: 15px
}

#searchpage .results ul li .result_content .descript h4 {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    display: flex;
    margin: 0 0 10px
}

#searchpage .results ul li .result_content .descript h4 a {
    color: #003c8c
}

#searchpage .results ul li .result_content .descript .subtitle {
    font-size: 13px;
    font-weight: 300;
    color: #d3a433;
    width: 100%;
    margin: 0 0 10px
}

#searchpage .results ul li .result_content .descript p {
    line-height: 22px;
    font-size: 16px
}

#searchpage .results ul li:last-child {
    border-bottom: 0
}

.search_suggestion {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 1px solid #eee
}

.search_suggestion ul {
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 30px
}

.search_suggestion ul li {
    line-height: 30px;
    padding: 5px 0;
    font-weight: 300;
    color: #e6e6e6
}

.search_suggestion ul li a {
    color: #d3a433;
    text-decoration: none;
    font-size: 22px;
    margin-right: 10px
}

.search_suggestion .searchAll {
    border-top: 1px solid #eee;
    height: 50p;
    line-height: 50px;
    color: #000;
    font-size: 22px;
    padding: 10px 30px
}

.search_suggestion .searchAll a {
    color: #003c8c
}

.search_result {
    width: 100%;
    display: flex;
    font-size: 16px;
    padding: 10px 0;
    flex-direction: column
}

.search_result .result_lenght {
    color: #adadad;
    font-weight: 300;
    line-height: 22px;
    margin: 15px 0 30px
}

.search_result .filter_nav_bar {
    width: 100%;
    display: flex
}

.search_result .filter_nav_bar li {
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600
}

.search_result .filter_nav_bar li:first-child {
    padding-left: 0
}

.search_result .filter_nav_bar li a {
    color: #8b8b8b;
    padding: 5px 10px;
    display: block;
    position: relative
}

.search_result .filter_nav_bar li a:after {
    content: "";
    width: 0;
    height: 1px;
    background: #003c8c;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: .5s ease;
    transition: .5s ease
}

.search_result .filter_nav_bar li a.active,
.search_result .filter_nav_bar li a:hover {
    color: #003c8c;
    text-decoration: none
}

.search_result .filter_nav_bar li a.active:after,
.search_result .filter_nav_bar li a:hover:after {
    width: 100%
}

.menu-toggle {
    padding: 0 25px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding-right: 0
}

.menu-toggle.black-menu span,
.menu-toggle.menu-black span {
    background-color: #000
}

.menu-toggle.black-menu span:after,
.menu-toggle.black-menu span:before,
.menu-toggle.menu-black span:after,
.menu-toggle.menu-black span:before {
    background-color: #000
}

.menu-toggle span {
    display: inline-block;
    height: 25px;
    width: 3px;
    background-color: #fff;
    border-radius: 5px;
    position: relative
}

.menu-toggle span::after,
.menu-toggle span::before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 3px;
    background-color: #fff;
    border-radius: 5px;
    left: -10px;
    position: absolute;
    -webkit-transition: .7s;
    transition: .7s
}

.menu-toggle span::after {
    left: inherit;
    right: 20px
}

.menu-toggle.active span {
    background-color: transparent
}

.menu-toggle.active span:before {
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 0
}

.menu-toggle.active span:after {
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 0
}

.menu-drop {
    background-color: black;
    position: absolute;
    width: 40%;
    right: 0;
    top: 0;
    height: 100vh;
    -webkit-transition: .7s;
    overflow-y: hidden;
    transition: .7s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* padding-top: 100px; */
    padding-top: 65px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: initial;
    z-index: 991
}

.menu-drop.active {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.menu-drop .soc-wrp ul {
    justify-content: flex-end
}

.menu-drop ul.main-menu>li {
    margin: 30px 0;
    text-align: right;
    position: relative;
    z-index: 1
}

.menu-drop ul.main-menu>li a {
    /* font-size: 2.5rem; */
    font-size: 20px !important;
    color: #d3a433;
    font-weight: 500;
    -webkit-transition: .5s;
    transition: .5s;
    text-transform: capitalize
}

.menu-drop ul.main-menu>li a:hover {
    color: #ffffff
}

.menu-drop ul.main-menu>li.accord>a::before {
    content: '+';
    margin: 0 15px;
    display: inline-block;
    font-size: 4.5rem
}

.menu-drop ul.main-menu>li.accord.active>a::before {
    content: '-'
}

.menu-drop ul.main-menu>li.accord ul {
    display: none
}

.menu-drop ul.main-menu>li.accord ul li {
    margin: 20px 0
}

.menu-drop ul.main-menu>li.accord ul li:last-child {
    margin-bottom: 0
}

.menu-drop ul.main-menu>li.accord ul a {
    font-size: 3rem
}

.menu-drop ul.main-menu>li.accord ul.active {
    height: 110px;
    opacity: 1;
    margin-top: 20px
}

.navCustomMenu {
    margin: 0 !important;
}



.soc-icons {
    margin: 0 0 15px 30px !important;
}

.logo a img.white-logo {
    object-fit: contain;
    width: 170px !important;
}

.pdCustomMenu {
    padding: 25px 0 !important;
}

@media (max-width: 768px) {
    .navCustomMenu > li {
        margin: 20px 0 !important;
    }

    .navCustomMenu > li > a,
    .menu-drop ul.main-menu>li a {
        font-size: 14px !important;
    }

    #header-outer {
        padding: 0 !important;
    }

    .header > nav.check > .container > .menu-drop.flex-wrp {
        left: 445px !important;
    }

    .footer > .soc-wrp > .footerCustomButton > li > a {
        font-size: 10px !important;
        margin: 0 5px !important;
    }

    .footer > .soc-wrp > .footerCustomButton {
        line-height: 10px;
    }
}

@media (max-width: 428px) {
    .header {
        width: 100% !important;
    }

    .header > .check > .customContainer {
        max-width: 385px;
    }

    header .logo a {
        max-width: 140px;
        min-width: 140px;
    }

    .logo a img.white-logo {
        width: 140px !important;
    }

    .header > nav.check > .container > .menu-drop.flex-wrp {
        left: 155px !important;
    }

    .header > nav.check > .container > .menu-drop {
        width: 65%;
    }
}

@media (max-width: 375px) {
    .header {
        width: 100% !important;
    }

    .header > .check > .customContainer {
        max-width: 345px;
    }

    header .logo a {
        max-width: 140px;
        min-width: 140px;
    }

    .navCustomMenu > li > a,
    .menu-drop ul.main-menu>li a {
        font-size: 12px !important;
    }

    .logo a img.white-logo {
        width: 125px !important;
    }

    .header > nav.check > .container > .menu-drop.flex-wrp {
        left: 139px !important;
    }
    
    .header > nav.check > .container > .menu-drop {
        width: 65%;
    }

    #show_bg_icon.white_bg img,
    #remove_bg_icon.white_bg img {
        width: 22px !important;
    }

    .menu-toggle span,
    .menu-toggle span::after, 
    .menu-toggle span::before {
        height: 22px;
    }
}

@media (max-width: 320px) {

    .header > .check > .customContainer {
        max-width: 280px;
    }

    #show_bg_icon.white_bg img,
    #remove_bg_icon.white_bg img {
        width: 20px !important;
    }

    .menu-toggle span,
    .menu-toggle span::after, 
    .menu-toggle span::before {
        height: 20px;
    }

    .logo a img.white-logo {
        width: 115px !important;
    }

    .header > nav.check > .container > .menu-drop.flex-wrp {
        left: 120px !important;
    }
}

@media (min-width: 2560px){
    .customContainer {
        margin: auto 500px !important;
    }
}

@media (min-width: 1440px){
    .customContainer {
        margin: auto 100px !important;
    }
}

@media (min-width: 1024px){
    .customContainer {
        margin: auto 100px !important;
    }
}

.input_search:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media (min-width: 768px){
    .customContainer {
        margin: auto 50px !important;
    }

    .footer > .soc-wrp > .footerCustomButton > li > a {
        font-size: 10px !important;
        margin: 0 5px !important;
    }

    .footer > .soc-wrp > .footerCustomButton {
        line-height: 10px;
    }

    .menu-drop {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #searchpage .search_box {
        width: 84%;
        margin: auto;
    }

    #search-box .input_search {
        font-size: 13px !important;
    }
}

@media (max-width: 425px){
    .customContainer {
        margin: auto 50px !important;
    }
    .menu-drop {
        width: 100%;
    }

    
}

@media (max-width: 414px) {
    .menu-drop {
        width: 100%;
    }

        #searchpage .search_box {
            width: 84%;
            margin: auto;
        }
}

@media (max-width: 320px) {
    .customContainer {
        margin: auto 30px !important;
    }
    .menu-drop {
        width: 100%;
    }
}